// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.work-sans-normal {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

/* top section styles */
.top-header> .top-container {
    display: flex;
    justify-content: space-between;
}

.name {
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 28px;
font-weight: 800;
line-height: 33px;
letter-spacing: 0%;
text-align: left;
margin: 48px 150px;
}

.btn{
    box-sizing: border-box;
border: 1px solid rgb(13, 19, 33);
border-radius: 8px;

opacity: 0.8;
width: 244px;
height: 57px;
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
margin: 53px 174px;
}

/* second section styles */

.second-header> .second-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../assets/Hero-bg.png);
}

.second-title {
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 48px;
font-weight: 800;
line-height: 68px;
letter-spacing: 0%;
text-align: center;
}

.second-subtitle {
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
}

.second-btn {
    margin: 30px 598px;
    width: 244px;
    height: 65px;
    color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
border-radius: 8px;

background: rgb(13, 19, 33);
}

/* third section styles */
.third-header> .third-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.third-title {
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 800;
line-height: 37px;
letter-spacing: 0%;
text-align: center;
}

.third-subtitle {
    opacity: 0.7;
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
}

/* fourth section styles */
.fourth-header> .fourth-container {
    display: flex;
    justify-content: space-evenly;
    margin: 48px 170px;
}

.fourth-title {
    color: rgba(13, 19, 33, 0.7);
font-family: Azeret Mono;
font-size: 24px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0%;
text-align: left;
}

.fourth-subtitle {
    opacity: 0.7;
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: left;
}

.fourth-btn {
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
width: 171px;
height: 47px;
box-sizing: border-box;
border: 1px solid rgb(13, 19, 33);
opacity: 0.7;

}